

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

div {
    width: 100%;
    height: 30000px;
    border: 1px solid black;
    background-color: black;

}

p {
    color: aliceblue;
    font-size: 46px;
    padding-top: 5%;
    
    
  

}

.di3 {
    
    
    padding-left: 5%;
    width: 100%;
    height: 20px;
    position: absolute;
}

a {
    color: antiquewhite;
    font-size: 30px;
    
}

.div2 {
    
    margin-top: 300px;
    padding-left: 5%;
    width: 100%;
    height: 50px;
    position: absolute;
}

.img2 {
    margin-left: 26%;
    border-radius: 20px;
}

i {
    font-size: 50px;
    padding-left: 11%;
    padding-top: 11%;
}

.aylana {
    border: 2px solid red ;
    border-radius: 40%;
    width: 70px;
    height: 70px;
    margin-left: 70px;
    margin-top: 80px;
}

.aylana2 {
    position: absolute;
    border: 2px solid red ;
    border-radius: 40%;
    width: 70px;
    height: 70px;
    margin-left: 290px;
    margin-top: -64.5px;
}

.aylana3 {
     position: absolute;
    border: 2px solid red ;
    border-radius: 40%;
    width: 70px;
    height: 70px;
    margin-left: 180px;
    margin-top: -64.5px;
}


.div4 {
    margin-top: 700px;
    padding-left: 5%;
    width: 100%;
    height: 50px;
    position: absolute;
}

.img3 {
    margin-left: 26%;
    border-radius: 20px;
}

.div5 {
    margin-top: 1100px;
    padding-left: 19%;
    width: 100%;
    height: 50px;
    position: absolute;
}

.img4 {
    margin-left: 6%;
    border-radius: 20px;
}

.a1 {
    font-size: 30px;
    color: antiquewhite;
    padding-left: 20%;
}

.div6 {
    margin-top: 1500px;
    padding-left: 19%;
    width: 100%;
    height: 50px;
    position: absolute;
}

.img5 {
    margin-left: 6%;
    border-radius: 20px;
}

.a2 {
    
    font-size: 30px;
    color: antiquewhite;
    
}

.div7 {
    margin-top: 1900px;
    padding-left: 19%;
    width: 100%;
    height: 50px;
    position: absolute;
}

.img6 {
    margin-left: 6%;
    border-radius: 20px;
}

.a3 {
    
    font-size: 30px;
    color: antiquewhite;
    
}


.div8 {
    margin-top: 2300px;
    padding-left: 19%;
    width: 100%;
    height: 50px;
    position: absolute;
}

.img7 {
    margin-left: 6%;
    border-radius: 20px;
}

.a4 {
    
    font-size: 30px;
    color: antiquewhite;
    
}

.div9 {
    margin-top: 2700px;
    padding-left: 19%;
    width: 100%;
    height: 50px;
    position: absolute;
}

.img8 {
    margin-left: 6%;
    border-radius: 20px;
}

.a5 {
    
    font-size: 30px;
    color: antiquewhite;
    
}